body{
	width:340px;
	font-family:"Segoe UI",Vrinda,"Microsoft JhengHei","Microsoft YaHei",Helvetica,sans-serif;
}
a {
	text-decoration: none;
}
a:hover,a:active{
	color:#F73F05;
}

h2 {
	font-size: 18px;
	color: #111;
	font-family: Vrinda,"Microsoft JhengHei","Microsoft YaHei",Helvetica,sans-serif;
	padding: 4px 0 2px 1px;
	line-height: 27px;
	letter-spacing: 0;
	border-bottom: 1px solid #333;
	font-weight:normal;
	margin-top:9px;
}
#status h2{
	margin:15px 0 13px 0;
}
table {
	margin: 0px auto;
	border: 1px solid #cdcdcd;
	border-width: 1px 0px 0px 1px;
	table-layout: fixed;
}
td {
	white-space: nowrap;
	background: #fff;
	padding: 7px 10px;
	color: #000;
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #cdcdcd;
	border-width: 0px 1px 1px 0px;
	text-align: center;
}
th {
	white-space: nowrap;
	background: #e6e6e6;
	padding: 3px 5px;
	color: #333;
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #cdcdcd;
	border-width: 0px 1px 1px 0px;
	font-weight: normal;
	text-align: center;
}

td a{
	color:#626262;
}
#status{
	display: none;
}
#graph{
	height:250px;
	display: none;
	text-align:center;
	padding-bottom: 10px;
}
span#tips{
	color: gray;
	font-size: 12px;
	top: 21px;
	right: 8px;
	position: absolute;
}
